@import "tailwindcss";
@plugin "daisyui";

.logo-font {
  font-family: "Poppins", sans-serif;
}
/* Headings */
.heading-font {
  font-family: "Montserrat", sans-serif;
}
/* Body Text */
.body-font {
  font-family: "Inter", sans-serif;
}
/* primary colors */
.text-electricBlue {
  color: #2979ff;
}
.bg-electricBlue {
  background-color: #2979ff;
}
.text-vibrantPurple {
  color: #8e24aa;
}
.bg-vibrantPurple {
  background-color: #8e24aa;
}
/* primary colors */
/* secondary colors */
.text-tealGreen {
  color: #26a69a;
}
.bg-tealGreen {
  background-color: #26a69a;
}
.text-softWhite {
  color: #fafafa;
}
.bg-softWhite {
  background-color: #fafafa;
}
.text-charcoalGray {
  color: #263238;
}
.bg-charcoalGray {
  background-color: #263238;
}
/* secondary colors */

.react-calendar__tile--active {
  background: #2979ff !important;
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile:hover {
  background: #e0f2ff !important;
  color: #2979ff !important;
  font-weight: 900;
}
