@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-electricBlue: #2979ff;
  --color-vibrantPurple: #8e24aa;
  --color-tealGreen: #20c997;
  --color-charcoalGray: #263238;
  --color-softWhite: #fafafa;
}

.logo-font {
  font-family: "Poppins", sans-serif;
}
/* Headings */
.heading-font {
  font-family: "Montserrat", sans-serif;
}
/* Body Text */
.body-font {
  font-family: "Inter", sans-serif;
}
/* primary colors */
/* .text-electricBlue {
  color: #2979ff;
} */
/* .bg-electricBlue {
  background-color: #2979ff;
} */
/* W */
/* .bg-vibrantPurple {
  background-color: #8e24aa;
} */
/* primary colors */
/* secondary colors */
/* .text-tealGreen {
  color: #26a69a;
} */
/* .bg-tealGreen {
  background-color: #26a69a;
} */
/* .text-softWhite {
  color: #fafafa;
} */
/* .bg-softWhite {
  background-color: #fafafa;
} */
/* .text-charcoalGray {
  color: #263238;
} */
/* .bg-charcoalGray {
  background-color: #263238;
} */
/* secondary colors */

.react-calendar__tile--active {
  background: #2979ff !important;
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile:hover {
  background: #e0f2ff !important;
  color: #2979ff !important;
  font-weight: 900;
}

/* Hide scrollbar (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
.scrollbar-hide {
  scrollbar-width: none;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.2s ease-out;
}

.active {
  @apply bg-[#3D86FF];
}
